.form-wrapper {
    padding: 0 0 1rem 0;
    box-sizing: border-box;
}
.form-wrapper form input[type=text],input[type=tel] {
    width: 100%;
    padding: 0.5rem 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 1.2rem;
    border: 1px solid #eee;
    box-sizing: border-box;
    outline: none;
}
.form-wrapper form input[type=tel] {
    margin-top: 1rem;
}
.form-wrapper form button[type=submit] {
    width: 100%;
    padding: 0.7rem 1rem;
    margin-top: 1rem;
    color:  #fff;
    background-color: rgb(76, 68, 148);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}